<div class="preview">
    <div class="content">
        {{#if typeVideo}}

        {{/if}}
        {{#if typeAudio}}

        {{/if}}
        {{#if typeImage}}
            <img src={{previewLink}} />
        {{/if}}
    </div>
</div>