<div class="preview">
    <div class="content">
        {{#if typeVideo}}

        {{/if}}
        {{#if typeAudio}}

        {{/if}}
        {{#if typeImage}}
                <img class="materialboxed" src={{previewLink}} />
        {{/if}}
    </div>
</div>