@import 'color-overrides';
@import 'materialize';

@import 'welcome';
@import 'navbar';
@import 'explorer';
@import 'preview';
@import 'breadcrumbs';
@import 'notifications';
@import 'properties-dialog';
@import 'application-settings';
@import 'fonts';

body, html {
    background-color: rgb(0, 120, 215);
    font-family: WeblySleek, Tahoma, Arial, sans-serif;
}

[data-ember-action] {
  cursor: pointer;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

a:not(.btn-flat, .btn) {
    text-decoration: underline;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
    visibility: hidden;
}

#materialbox-overlay {
    opacity: 0!important;
}

[data-ember-action] {
    cursor: pointer;
}

.modal {
    nav.props {
        background-color: $secondary-color;

        a.brand-logo {
            font-size: 20px
        }
    }

    max-height: 80%;
}

.select-dropdown {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    height: 250px;
}

// Fix Materialize Select Cut-off issue
div.card-content, div.card,
div.card .liquid-container:not(.liquid-animating),
div.card .liquid-child:not(.liquid-animating) {
    overflow: visible!important;
}

