@import 'color-overrides';
@import 'materialize';
@import 'welcome';
@import 'navbar';
@import 'explorer';
@import 'preview';
@import 'breadcrumbs';
@import 'notifications';

@font-face {
    font-family: WeblySleek;
    src: url("../font/ws/weblysleekuisl.ttf") format("truetype");
}
@font-face {
    font-family: "WeblySleek";
    src: url("../font/ws/weblysleekuisb.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "WeblySleek";
    src: url("../font/ws/weblysleekuil.ttf") format("truetype");
    font-style: italic, oblique;
}

body, html {
    background-color: rgb(0, 120, 215);
    font-family: WeblySleek, Tahoma, Arial, sans-serif;
}

[data-ember-action] {
  cursor: pointer;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
    visibility: hidden;
}

#materialbox-overlay {
    opacity: 0!important;
}

[data-ember-action] {
    cursor: pointer;
}
