@import 'color-overrides';
@import 'materialize';
@import 'welcome';

// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.css");
// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.css");
// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.css");
// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.css");
// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.css");

body, html {
    background-color: #212527;
}

/* Cards */
.card.card-account a {
    color: #fff;
}
