@import 'color-overrides';
@import 'materialize';
@import 'welcome';
@import 'navbar';
@import 'explorer';
@import 'preview';

// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.css");
// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.css");
// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.css");
// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.css");
// @import url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.css");

body, html {
    background-color: #212527;
}

/* Cards */
.card.card-account a {
    color: #fff;
}

[data-ember-action] {
  cursor: pointer;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

#materialbox-overlay {
    opacity: 0!important;
}