.settings-dialog {
    tr {
      width: 180px
    }

    height: 475px;

    .select-wrapper {
      width: 150px
    }

    input {
      width: 130px
    }

    div.collectionContainer {
        height: 180px;
        overflow: scroll;
        padding-bottom: 20px;
    }

    div.corsInput {
        height:15px;
        input {
          width: 400px;
        }
    }

    .delete {
      background-color: $warning-color;
    }
}

