#modal-properties {
    nav.props {
        background-color: $secondary-color;
        
        a.brand-logo {
            font-size: 20px
        }
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
        td, th {
            padding: 0px 0px;
        }
    }
}

