/*** Colors ***/
$primary-color: rgb(0, 72, 129);
$primary-color-light: rgb(25, 90, 142);
$primary-color-dark: rgb(0, 48, 86);

$secondary-color: #8AC340;
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");
