div.folder {
    width: 250px;
    float: left;
    height: calc(100vh - 64px);
}

.folder {
    div.container {
        margin: 0;
        overflow-y: auto;
        height: 72.75%;
        width: 250px;

    }

    .search {
        input {
            float: left;
            width: 75%;
            margin-left:7px;
        }

        .preloader-wrapper {
            margin-top: 5px;
            margin-left: 10px;
        }
    }

    div.container::-webkit-scrollbar-track {
        background-color: #212527;
    }

    ul li {
        border-bottom: 1px solid #333;
        padding: 4px 0 4px 0;
        color: #fff;
    }

    input {
        color: #fff;
    }

    ul li:last-child {
        border-bottom: none;
    }
}

.files {
    div.container {
        background-color: #fff;
        height: calc(100vh - 64px);
        width: calc(100vw - 250px);
        float: left;
        overflow: scroll;
    }

    .btn-download {
        width: 44px;
        height: 30px;
        line-height: 32px;
        padding: 0;
        margin: 0;
    }

    input {
        margin-left:auto; 
        margin-right:auto
    }

    .waves-effect.waves-light.btn.btn-path {
        margin-top: 5px;
    }
}