div.folder {
    width: 250px;
    float: left;
    height: calc(100vh - 64px);
}

.folder {
    div.container {
        margin: 0;
    }

    ul li {
        border-bottom: 1px solid #333;
        padding: 4px 0 4px 0;
        color: #fff;
    }

    ul li:last-child {
        border-bottom: none;
    }
}

.files {
    div {
        background-color: #fff;
        height: calc(100vh - 64px);
        width: calc(100vw - 250px);
        float: left;
        overflow: scroll;
    }

    .btn-download {
        width: 44px;
        height: 30px;
        line-height: 32px;
        padding: 0;
        margin: 0;
    }
}