div.folder {
    width: 250px;
    float: left;
    height: calc(100vh - 64px);
}

.folder {
    background-color: $primary-color;

    div.container {
        margin: 0;
        overflow-y: auto;
        height: calc(100% - 261px);
        width: 250px;
        padding: 0 0 15px 0;
    }

    .search {
        color: white;
        padding: 0 1.5rem;
        height: 61px;
        border-bottom-color: white;

        .spinner {
            position: absolute;
            top: 71px;
            z-index: 105;
            height: 25px;
            width: 25px;
            left: 195px;
        }

        .preloader-wrapper {
            margin-top: 5px;
            margin-left: 10px;
        }

        input {
            color: #fff;
        }
    }

    div.container::-webkit-scrollbar-track {
        background-color: #212527;
    }

    ul li {
        padding: .6rem 1.5rem;
        color: rgb(194, 195, 197);
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;

        // Icon
        i {
            color: white;
        }
    }

    ul li:last-child {
        border-bottom: none;
    }

    .selected-container {
        background-color: $primary-color-light;
    }
}

.files {
    div.container {
        background-color: #fff;
        height: calc(100vh - 64px);
        width: calc(100vw - 250px);
        float: left;
        padding: 0 10px 10px 10px;
    }

    div.tableContainer {
        height: calc(100% - 62px);
        overflow: scroll;
    }

    .btn-download {
        width: 44px;
        height: 30px;
        line-height: 32px;
        padding: 0;
        margin: 0;
    }

    input {
        margin-left:auto;
        margin-right:auto
    }

    .action-field {
        width: 20px;
    }

    .waves-effect.waves-light.btn.btn-path {
        margin-top: 5px;
    }

    table {

        tr > td > i.mdi-file-folder-open {
            position: relative;
            font-size: 1.4em;
            color: #474747;
        }
        
        td.type {
            max-width: 150px;
        }
        
        td.type > div {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        td, th {
            padding: 6px 5px;
        }

        [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
            height: 17px;
        }
    }
}
