nav.explorer {
    background-color: $primary-color-dark;
}

span.logo {
    margin: 0 10px 0 20px;
}

ul.actions li {
    padding: 0 8px 0 8px;
}

ul.connectionName {
    li:hover {
        all: unset;
    }
}
