@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }

.notifications {
    position: absolute;
    background-color: rgba(208, 208, 208, .5);
    bottom: -175px;
    height: 200px;
    left: 250px;
    width: calc(100vw - 250px);
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;

    div.handle {
        width: 100%;
        height: 25px;
        background-color: rgb(245, 245, 245);

        span {
            float: left;
            font-weight: bold;
            margin: auto;
            width: calc(100vw - 250px);
            text-align: center;
            line-height: 16px;
            margin-bottom: 5px;
        }
    }

    div.pullout {
        padding: 0;
        margin: 0;
        height: 175px;
        overflow: scroll;

        ul {
            padding: 0;
            margin: 0;
        }

        ul li i.mdi-action-done {
            -webkit-animation: none;
        }

        ul li i {
            -webkit-animation: spin 2s linear infinite;
        }

        ul li {
            padding: 8px 0;
            border-top: 1px solid #ccc;
            margin: 0 10px;
        }

        ul li:first-child {
            border-top: none;
        } 

        ul li:hover {
            background-color: rgb(245, 245, 245);
        }

        ul li span.timestamp {
            float: right;
        }
    }
}

.notifications.is-pullout-visible {
    margin-bottom: 175px;
}