@import 'mixins';

div.preview {
    position: absolute;
    bottom: 0;
    background-color: #303030;
    width: 250px;
    height: 200px;
    padding: 10px;

    .content {
        @include vertical-align;

        max-height: 100%;
        z-index: 1000;

        img {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}
