# See http://help.github.com/ignore-files/ for more about ignoring files.

# OSX Goo
.DS_STORE

# compiled output
/dist
/tmp
/build
/electronbuildcache
/cache
/builds

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.version
