<div id="modal-about" class="modal">
    <div class="modal-content">
        <h4>About</h4>
        <p>Version: {{versionNumber}}</p>
        <p>This app is maintained by Steven Edouard and Felix Rieseberg. (C) Copyright 2015 Microsoft Coporation.</p>
        <p>The source code for this app is released under the GPLv3 License. For more information, please visit http://azure-storage.github.io/xplat.</p>
        <p>The icon icludes the artwork "Astronaut" by Simon Child from the Noun Project.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
</div>