<div id="modal-about" class="modal">
    <div class="modal-content">
        <h4>About</h4>
        <p><strong>Azure Storage Explorer v{{versionNumber}}</strong></p>
        <p>This app is maintained by Steven Edouard and Felix Rieseberg. To report issues, please visit http://aka.ms/ase/issues. </p>
        <p>(C) Copyright 2015 Microsoft Coporation.</p>
        <p>The source code for this app is released under the GPLv3 License. For more information, please visit http://azure-storage.github.io/xplat.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
</div>