<div id="modal-addcontainer" class="modal">
    <div class="modal-content">
        <h4>Create Container</h4>
        <h5>Name:</h5>
        {{input value=newContainerName}}
    </div>
    <div class="modal-footer">
        <a {{action 'addContainerData'}} class=" modal-action modal-close waves-effect waves-green btn-flat">Create Container</a>
    </div>
</div>