<div id="modal-addcontainer" class="modal">
    {{view 'modal-navbar' modalTitle="Create Container"}}
    <div class="modal-content">
        <h5>Name:</h5>
        {{input value=newContainerName}}
    </div>
    <div class="modal-footer">
        <a {{action 'addContainerData'}} class=" modal-action modal-close waves-effect waves-green btn-flat">Create Container</a>
    </div>
</div>