{{#if modalConfirmAction}}
<div id="modal-delete" class="modal">
    {{ax-modal-navbar 'modal-navbar' modalTitle="Delete"}}
    <div class="modal-content">
        <h6> Are you sure you want to delete {{modalDeleteText}}? </h6>
    </div>
    <div class="modal-footer">
        <a {{action this.modalConfirmAction modalFileUploadPath modalDefaultUploadPath}} class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>
{{/if}}