<div id="modal-deletecontainer" class="modal">
    {{view 'modal-navbar' modalTitle="Delete Container"}}
    <div class="modal-content">
        <h6> Are you sure you want to delete the container "{{activeContainer}}"? </h6>
    </div>
    <div class="modal-footer">
        <a {{action "deleteContainerData"}} class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>