<div id="modal-delete" class="modal">
    <div class="modal-content">
        <h4>Delete</h4>
        <h6> Are you sure you want to delete {{modalDeleteText}}? </h6>
    </div>
    <div class="modal-footer">
        <a {{action this.modalConfirmAction modalFileUploadPath modalDefaultUploadPath}} class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>