<div id="modal-error" class="modal">
    {{ax-modal-navbar modalTitle="Error"}}
    <div class="modal-content">
        <p>{{lastError}}</p>
    </div>
    <div class="modal-footer">
        <a {{action "closeErrorModal"}} class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
     </div>
</div>