<div id="modal-firstuse" class="modal">
    <div class="modal-content">
        <h4>Ahoy!</h4>
        <p>Before you start exploring your Azure Storage accounts, we (Steven & Felix) wanted to quickly say Hi and ask for a favour:</p>
        <p>To find bugs and fix errors, we rely on anonymized usage information - statistics that tell us where in this app we made mistakes (completely anonymized).</p>
        <p>May we collect such anonymized usage statistics?</p>
    </div>
    <div class="modal-footer">
        <a href="#" {{action "toggleUsageStatistics" false}} class="waves-effect waves-green btn-flat modal-action modal-close">Don't send anonimized usage statistics</a>
        <a href="#" {{action "toggleUsageStatistics" true}} class="waves-effect waves-green btn-flat modal-action modal-close">Sure, I'm happy to help</a>
    </div>
</div>