<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <span class="logo left">
                <i class="mdi-file-cloud-queue"></i> 
            </span>
            <ul class="left">
                <li>{{activeConnection}}</li>
            </ul>
            <ul class="right actions">
                <li><i class="mdi-file-file-upload"></i></li>
                <li><i class="mdi-file-file-download"></i></li>
                <li><i class="mdi-file-folder"></i></li>
            </ul>
        </div>
    </nav>
</div>